.root{
    -fx-background-color: #252525;
}

.label{
    -fx-font-size: 15;
    -fx-font-family: "Montserrat";
    -fx-text-fill: "white";
    -fx-alignment: center;
}

#title{
    -fx-font-weight: bold;
    -fx-font-size: 50;
}

.menu-item:hover {
    -fx-background-color: #1565c0;
}

.menu:hover {
    -fx-background-color: #1565c0;
}

.menu-bar{
    -fx-background-color: #252525;
}

.menu-bar .context-menu {
    -fx-background-color: #252525;
}

.menu .context-menu {
    -fx-background-color: #252525;
}

.menu-item {
    -fx-background-color: #252525;
}

.menu{
    -fx-background-color: #252525;
}

.bottom-label{
    -fx-font-size: 15;
    -fx-font-family: "Poppins";
    -fx-text-fill: "white";
    -fx-padding: 0 0 5 5;
}

.button{
    -fx-background-color: #333333;
    -fx-background-radius: 5px;
}

.selected-tool{
    -fx-background-color: #1565c0;
    -fx-border-width: 2px;
    -fx-border-radius: 5px;
}

.side-menu{
    -fx-background-color: #333333;
    -fx-background-radius: 5px;
    -fx-border-width: 2px;
    -fx-border-radius: 5px;
    -fx-padding: 5 5 5 5;
}

.side-menu .button{
    -fx-font-family: "Poppins";
    -fx-text-fill: "white";
    -fx-alignment: center;
    -fx-font-size: 18px;
    -fx-background-color: #1565c0;
    -fx-border-color: #153057;
    -fx-border-width: 2px;
    -fx-border-radius: 5px;
    -fx-background-radius: 10px;
}

.spacing{
    -fx-padding: 5 5 5 5;
}

.color-picker{
    -fx-font-size: 15;
    -fx-font-family: "Poppins";
    -fx-text-fill: "white";
    -fx-background-color: #252525;
    -fx-background-radius: 5px;
}

.text-field{
    -fx-font-size: 15;
    -fx-font-family: "Poppins";
    -fx-text-fill: "white";
    -fx-background-color: #252525;
}

.combo-box{
    -fx-font-size: 15;
    -fx-font-family: "Poppins";
    -fx-text-fill: "white";
    -fx-background-color: #252525;
}

.combo-box .list-cell {
    -fx-font-family: "Poppins";
    -fx-text-fill: "white";
    -fx-background-color: #252525;
}

.combo-box-base{
    -fx-background-color: #252525;
}