.root{
    -fx-background-color: #252525;
}

.label{
    -fx-font-size: 30px;
    -fx-font-family: "Poppins";
    -fx-text-fill: "white";
    -fx-alignment: center;
    -fx-font-weight: bold;
}

.button{
    -fx-font-family: "Poppins";
    -fx-text-fill: "white";
    -fx-alignment: center;
    -fx-font-size: 25px;
    -fx-background-color: #1f4680;
    -fx-border-color: #153057;
    -fx-border-width: 1px;
    -fx-border-radius: 5px;
    -fx-min-width: 200px;
    -fx-background-radius: 5px;
}